@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --main: #A020F0;
    --purple: #4B0082;
    --lightpurple: #E0BBFF;
    --black: #1C1C1E;
    --white: #D9D9D9;
}

.noto-sans-kr-{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.05rem;
    list-style: none;
}

body{
    font-size: 1rem;
    line-height: 1.75;
    background-color: var(--black);
    color: var(--white);
}

#loading{
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    background: var(--black);
    backdrop-filter: blur(1rem);
    inset: 0;
    z-index: 9;
}

#loading img{
    width: 25%;
    height: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem 5rem;
    background-color: var(--black);
    z-index: 1;
}

.logo{
    width: 10%;
}

.logo img{
    width: 100%;
    height: auto;
}

.menu ul{
    display: flex;
    gap: 2.5rem;
}

.menu a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--white);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: var(--main);
}

.menu-btn{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 7.5rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    background-color: var(--main);
    border-radius: 1rem;
    cursor: pointer;
    transition: border-radius 0.3s ease;
}

.menu-btn:hover{
    border-radius: 1rem 1rem 0 0;
}

.slide-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 7.5rem;
    text-align: center;
    background-color: var(--main);
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu-btn:hover .slide-menu{
    border-radius: 0 0 1rem 1rem;
    opacity: 1;
    visibility: visible;
}

.slide-menu li{
    padding: 0.5rem 0;
    border-top: 1px solid rgba(75, 0, 130, 0.5);
}

.slide-menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    color: var(--white);
    transition: color 0.3s ease;
}

.slide-menu a:hover{
    color: var(--purple);
}

#major{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    text-align: left;
    background: url(../images/BG.jpg) no-repeat center/cover;
    background-color: rgb(0, 0, 0);
    background-blend-mode: screen;
    animation: bg-color 15s infinite;
}

@keyframes bg-color{
    0%{background-color: rgb(0, 0, 0);}
    20%{background-color: rgb(75, 0, 75);}
    40%{background-color: rgb(0, 0, 75);}
    60%{background-color: rgb(75, 0, 75);}
    80%{background-color: rgb(0, 0, 75);}
    100%{background-color: rgb(0, 0, 0);}
}

.major-text h1{
    position: relative;
    margin-left: 7.5rem;
    font-size: 2rem;
}

.major-text span{
    font-size: 3rem;
}

.major-text .marketing,
.major-text .design,
.major-text .user-experience{
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
    opacity: 0.5;
}

.major-text .marketing{
    top: 3.75rem;
    left: 1rem;
}

.major-text .design{
    top: 3.75rem;
    left: 11.25rem;
}

.major-text .user-experience{
    top: 9rem;
    left: 1rem;
}

#who{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
    text-align: center;
}

#who h1{
    font-size: 2.5rem;
    color: var(--main);
}

.who-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 2.5rem;
}

.who-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.who-card:hover{
    transform: translateY(-2.5rem);
}

.who-card img{
    width: 50%;
    height: auto;
}

.who-text{
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
    transform: translateY(0.5rem);
    opacity: 0;
    transition: all 0.3s ease;
}

.who-card:hover .who-text{
    transform: translateY(-0.5rem);
    opacity: 1;
}

#thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
    background: linear-gradient(var(--black), var(--main));
}

#thumbnail h1{
    font-size: 2.5rem;
    color: var(--main);
}

.thumbnail-cards{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 2.5rem;
    width: 75%;
    margin: 2.5rem;
}

.thumbnail-image{
    position: relative;
    width: 100%;
}

.thumbnail-image img{
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.thumbnail-card:hover .thumbnail-image img{
    opacity: 0.15;
}

.thumbnail-text{
    position: absolute;
    top: 45%;
    left: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thumbnail-card:hover .thumbnail-text{
    opacity: 1;
}

.cta-btn{
    width: 7.5rem;
    padding: 0.5rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--purple);
    color: var(--lightpurple);
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta-btn:hover{
    background-color: var(--lightpurple);
    color: var(--purple);
}

footer{
    padding: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
}