@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

.ibm-plex-sans-kr-regular{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --main: #1E388D;
    --sub: #141D4E;
    --point: #0000FF;
    --blue: #4D7FFF;
    --yellow: #FFD447;
    --black: #1C1C1E;
    --white: #F5F5F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    list-style: none;
}

body{
    font-size: 1rem;
    line-height: 1.75;
    background-color: var(--black);
    color: var(--white);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem 5rem;
    background-color: var(--black);
    z-index: 1;
}

.logo{
    width: 20%;
    height: auto;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu ul{
    display: flex;
    gap: 2.5rem;
}

.menu a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: var(--blue);
}

.menu-btn{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 7.5rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--blue);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-btn:hover{
    background-color: var(--main);
    border-radius: 0.5rem 0.5rem 0 0;
}

.slide-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 7.5rem;
    text-align: center;
    background-color: var(--main);
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.slide-menu li{
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.slide-menu li:last-child{
    border-bottom: 0;
}

.slide-menu a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    transition: color 0.3s ease;
}

.slide-menu a:hover{
    color: var(--blue);
}

.menu-btn:hover .slide-menu{
    opacity: 1;
    visibility: visible;
}

#major{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vh;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background: url(../images/BG.png) no-repeat center/cover;
    background-blend-mode: screen;
    animation: bg-color 15s infinite;
}

@keyframes bg-color{
    0%{background-color: rgb(0, 0, 0);}
    20%{background-color: rgb(75, 0, 75);}
    40%{background-color: rgb(0, 0, 75);}
    60%{background-color: rgb(0, 75, 0);}
    80%{background-color: rgb(75, 75, 0);}
    100%{background-color: rgb(0, 0, 0);}
}

.major-text h1{
    position: relative;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
    z-index: 10;
}

.major-text span{
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
    opacity: 0.25;
    z-index: 20;
}

.major-text p{
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.major-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.major-card{
    width: 20rem;
    margin: 0 -1.5rem;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.major-card:hover{
    background-color: rgba(0, 0, 255, 0.25);
    transform: translateY(-2.5rem);
    z-index: 1;
}

.keyword{
    margin-top: 7rem;
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(var(--white) 35%, var(--point));
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#professor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 2.5rem 0;
    text-align: center;
}

#professor h1{
    font-size: 2.5rem;
    color: var(--blue);
}

#professor h3{
    font-size: 1.5rem;
    font-weight: normal;
}

.lists{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    padding: 2.5rem 0;
    gap: 2.5rem;
}

.list{
    width: 20%;
}

.list img{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    transition: transform 0.3s ease;
}

.list:hover img{
    transform: scale(1.25) translateY(-1rem);
}

.name{
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.data{
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list:hover .data{
    opacity: 1;
}

#curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 102.5vh;
    margin-top: 5rem;
    text-align: center;
    background: linear-gradient(var(--black) 2.5%, var(--main));
}

#curriculum h1{
    font-size: 2.5rem;
    color: var(--blue);
}

#curriculum h3{
    font-size: 1.5rem;
    font-weight: normal;
}

.acc-con{
    display: flex;
    width: 100%;
    padding-top: 2.5rem;
}

.acc{
    display: flex;
    flex: 2;
}

.acc li{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    transition: all 0.5s ease;
}

.acc li:first-child{
    border-right: 1px solid var(--white);
}

.acc li:hover{
    flex: 2;
    background-color: var(--main);
}

.grade{
    margin: 1rem 0;
    font-size: 1.45rem;
    font-weight: bold;
}

.info{
    font-size: 1.15rem;
}

#state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding: 2.5rem 0;
    text-align: center;
    background: url(../images/BG_2.jpg) no-repeat center/cover;
    color: var(--black);
}

#state h1{
    font-size: 2.5rem;
    color: var(--blue);
}

#state h3{
    font-size: 1.5rem;
    font-weight: normal;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2.5rem;
    gap: 10rem;
}

.container h5{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.left{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 2.5rem;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.employment, .linkage, .interview{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.interview{
    padding: 2.5rem;
}

.video-box{
    width: 100%;
    height: auto;
}

.video-box video{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.quote{
    margin-top: 1rem;
    font-style: italic;
}

#consult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding: 2.5rem 0;
    text-align: center;
    background-color: var(--yellow);
    color: var(--black);
}

#consult p{
    font-size: 1.5rem;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.field, select{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--black);
    border-radius: 1rem;
    transition: border 0.3s ease;
}

.field:focus, select:focus{
    border: 1px solid var(--yellow);
    outline: none;
}

.check{
    font-size: 1rem;
    font-weight: normal;
}

#check{
    margin-right: 0.5rem;
}

#btn{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 1rem;
}

#btn:disabled{
    background-color: #cccccc;
    color: #ffffff;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 0.75rem;
}